{% extends 'base.html' %}

{% block title %}All Items{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block body %}
<!-- Added a table to make output prettier-->
<table class="Items-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for i in inspect %}
    <tr>
      <td class="property-value-col">{{ i.id }}</td>
      <td class="property-value-col">{{ i.name }}</td>
      <td class="property-value-col">{{ i.quantity }}</td>
      <td class="property-value-col">{{ i.description }}</td>
      <td>
        <!-- Added a delete link, reedirects back to here when deleted -->
          <a href="{{ url_for('delete', id=i.id) }}">Delete</a>
      </td>
      <td>
        <!-- Added an update link that goes to a new page to update based on the passed id-->
          <a href="{{ url_for('update', id=i.id) }}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Go back to home page -->
<b><a href={{ url_for("add_item") }}>Go to Home</a></b>
{% endblock %}
